<h2>Current Reservations for <%= @restaurant %></h2>
<table>
	<tr>
		<th>User</th>
		<th>Date</th>	
		<th>Time</th>
	</tr>
	<% @restaurant.reservations.each do |reservation| %>
		<tr>
		<td><%= reservation.user %></td>
		<td><%= "July 1st, 2017" %></td>
		<td><%= reservation.time %></td>
		<td><%= link_to 'Reject', restaurant_reservations_path(reservation)%></td>
		</tr>
		<%end%>
</table>