<h1>Make a New Reservation</h1>
<h2> <%= @restaurant.name %></h2>

<%= form_for([@restaurant, @restaurant.reservations.build]) do |f| %>
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>

  <p>
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime, :minute_step => 15%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
<%= link_to 'Back',restaurants_path %>
</p>