<h1>Restaurants</h1>
<br>
<table>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Phone</th>
		<th>Genre</th>
	</tr>

	<% @restaurants.each do |restaurant| %>
		<tr>
		<td><%= restaurant.name %></td>
		<td><%= restaurant.address %></td>
		<td><%= restaurant.phone %></td>
		<td><%= restaurant.genre %></td>
		<td><%= link_to 'Details',restaurant_path(restaurant) %></td>
	<% if @current_user && @current_user.is_owner? %>
		<td><%= link_to 'Update',edit_restaurant_path(restaurant) %></td>
		<td><%= link_to 'Delete', restaurant_path(restaurant), :method => :delete, data: { confirm: 'Are you sure you want to delete?' }%></td>
		<td><%= link_to 'Review Reservations', restaurant_reservations_path(restaurant)%></td>
	<% else %>
		<td><%= link_to 'Reserve', new_restaurant_reservation_path(restaurant)%></td>
		<td><%= link_to 'Dashboard', user_dashboard_path%></td>
	<% end %>
	</tr>

	<%end%>
</table>
<br>

<% if (@current_user && @current_user.is_owner?) %>
	<%= link_to 'Add New Restaurant',new_restaurant_path %>
<%end%>